ul li{
	list-style: none;
	position: relative;
	height: 60px;
}

input[type="text"]{
	background: #fff; /* Old browsers */
	border: 1px solid #ddd;
	margin: 0 0 5px;
	padding: 10px 9px;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.fn-editable-wrap{
	display: inline-block;
	vertical-align: middle;
	min-width: 40px;
	font-size: 14px;
}

.fn-editable-wrap.shown >div{
	position: absolute;
	z-index: 100000;
	min-width: 285px;
	top: -8px;
	left: -23px;
	padding: 5px;
	background: #f1f1f1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid #ccc;
}

.blue{
	background: rgb(109,179,242);
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1)));
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
	color: #fff;
}

.pink{
	background: #ff0084;
	color: #000;
}

.black{
	background: #111;
	color: #fff;
}