<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/fn.css">
	</head>
	<body ng-app="testApp">
		<div role="main" ng-controller="mainController">
			<ul>
				<li>
					<div class="fn-editable" ng-model="exampleValue"></div>
				</li>
				<li>
					<div class="fn-editable" ng-model="exampleValue2" save="saveExampleValue"></div>
				</li>
				<li>
					<div class="fn-editable" ng-model="exampleValue3" permission="permissionCheck()"></div>
				</li>
				<li>
					<div class="fn-editable" ng-model="exampleValue4" buttons="example4buttons" ng-show="example4visible"></div>
				</li>
			</ul>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script src="/fnEditable.js"></script>
		<script>
			'use strict';

			var testApp = angular.module('testApp', ['fnInplaceEdit']);

			testApp.controller('mainController', function($scope){

				$scope.exampleValue = 'I will be written on save no matter what';

				$scope.exampleValue2 = 'Only written if save function does it';

				$scope.exampleValue3 = 'Cant be changed due to permission method';

				$scope.exampleValue4 = 'Example with extra buttons defined';

				$scope.example4visible = true;

				$scope.saveExampleValue = function(val){
					/*
						some logic to verify we want to write the provided val
						to the model
					*/
					$scope.exampleValue2 = val;
				};

				/**
				 * Should return a boolean
				 */
				$scope.permissionCheck = function(){
					return false;
				}

				$scope.example4buttons = [{
						action: function(){ alert('call me when the button is clicked'); },
						text: 'Click Me',
						cssClass: 'blue'
					},
					{
						action: function(){ alert('call me when the second button is clicked'); },
						text: 'Click Me Too',
						cssClass: 'pink'
					},
					{
						action: function(){ $scope.example4visible = false; },
						text: 'Hide This Editable',
						cssClass: 'black'
					}
				];
			});
		</script>
	</body>